.containerRegistro {
    display: flex;
    flex-direction: column;
    margin: 4rem 0rem 4rem 0rem;
    width: 28rem;
    border: 0.1rem solid #dbd7d6;
    background-color: #f0f2f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.email-senha {
    padding: 25px;
    height: 20px;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    
}


.form {
    width: 100%;
    
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    text-align: left;
    padding: 0px 10px;
    
}


.texto {
    padding: 25px 0 0;
    font-size: 28px;
    font-weight: bold;
    color: rgb(92, 92, 92);
}

.texto-conta{
    padding: 7px 0 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(92, 92, 92);
}

.texto-entrar{
    margin: 0px 0px 30px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}