<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
    <%- include('partials/headerNavbar') %>

    <div class="carrosel"> 
        <img src="/images/plants/plantabanner.jpg" alt="Imagens Carrosel de plantas" />
    </div>

    <section>

        <div class="destaques">
            <div class="headerDestaques">
                <h2> Planta Lovers </h2>
                <p> Os nossos queridinhos! </p>
            </div>

            <div class="produtosDestaques">
                <div class="produtosDesc" id="DestaquesPrimeiro"> 
                    <img class="img_destaques" src="/images/plants/severin-candrian-hIQDNawFoaM-unsplash.jpg"/>
                    <h3 class="titulo_destaques"> Titulo do Produto </h3>
                    <p class="desc_destaques"> Pequena descrição do produto </p>
                    <p class="preco_destaques"> R$ 000,00</p>
                    <button class="botaoDestaques"> Comprar </button>
                </div>
                <div class="produtosDesc" id="DestaquesPrimeiro"> 
                    <img class="img_destaques" src="/images/plants/severin-candrian-E1TcypjMSPE-unsplash.jpg"/>
                    <h3 class="titulo_destaques"> Titulo do Produto </h3>
                    <p class="desc_destaques"> Pequena descrição do produto </p>
                    <p class="preco_destaques"> R$ 000,00</p>
                    <button  class="botaoDestaques"> Comprar </button>
                </div>
                <div class="produtosDesc" id="DestaquesPrimeiro"> 
                    <img class="img_destaques" src="/images/plants/severin-candrian-R0d0JHaBR1g-unsplash.jpg"/>
                    <h3 class="titulo_destaques"> Titulo do Produto </h3>
                    <p class="desc_destaques"> Pequena descrição do produto </p>
                    <p class="preco_destaques"> R$ 000,00</p>
                    <button class="botaoDestaques"> Comprar </button>
                </div>
            </div>
        </div>

        <div class="importante"> 
            <div class="importanteProd">
                <img class="img_importante" src="/images/plants/severin-candrian-Rn1QlV1MDaw-unsplash.jpg"/>
                <div class="importante_infos">
                    <h3 class="titulo_importante"> Titulo do Produto </h3>
                    <p class="desc_importante"> Descrição mais longa do produto - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat et maxime quia ex, 
                        eveniet a exercitationem libero molestiae quae ratione repellat repudiandae magni est aperiam neque minus! </p>
                    <p class="preco_importante"> R$ 000,00</p>
                    <button class="botaoImportante"> Comprar </button>
                </div>
            </div>
        </div>

        <div class="colecao">
            <div class="headerColecao">
                <h2> Decoração + Praticidade </h2>
                <p> Uma seleção especial de plantas para ambientes pouca luz solar e que exigem pouca manutenção</p>
            </div>
            <div class="produtosColecao">
                <div class="produtosCol" id="colecao_primeiro"> 
                    <img class="img_colecao" src="/images/plants/severin-candrian-qoegZJ3ybOY-unsplash.jpg"/>
                    <h3 class="titulo_colecao"> Titulo do Produto </h3>
                    <p class="desc_colecao"> Pequena descrição do produto </p>
                    <p class="preco_colecao"> R$ 000,00</p>
                    <button> Comprar </button>
                </div>

                <div class="produtosCol" id="colecao_segundo"> 
                    <img class="img_colecao" src="/images/plants/severin-candrian-qQZdmUzXjZA-unsplash.jpg"/>
                    <h3 class="titulo_colecao"> Titulo do Produto </h3>
                    <p class="desc_colecao"> Pequena descrição do produto </p>
                    <p class="preco_colecao"> R$ 000,00</p>
                    <button> Comprar </button>
                </div>

                <div class="produtosCol" id="colecao_terceiro"> 
                    <img class="img_colecao" src="/images/plants/severin-candrian-SOhatM1jFLk-unsplash.jpg"/>
                    <h3 class="titulo_colecao"> Titulo do Produto </h3>
                    <p class="desc_colecao"> Pequena descrição do produto </p>
                    <p class="preco_colecao"> R$ 000,00</p>
                    <button> Comprar </button>
                </div>

                <div class="produtosCol" id="colecao_quarto"> 
                    <img class="img_colecao" src="/images/plants/severin-candrian--11MmJRwCPo-unsplash.jpg"/>
                    <h3 class="titulo_colecao"> Titulo do Produto </h3>
                    <p class="desc_colecao"> Pequena descrição do produto </p>
                    <p class="preco_colecao"> R$ 000,00</p>
                    <button> Comprar </button>
                </div>

            </div>
        </div>

        <section class="banner">
            <div class="banner_cont">
                <div id="banner1">
                    <img class="img_banner" src="/images/1.png"/>
                </div>
                <div id="banner2">
                    <img class="img_banner" src="/images/2.png"/>
                </div>
            </div>
        </section>

    </section>
	<%- include('partials/footer') %>
</body>
</html>
