<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Login'}) %>
<link href="/css/login.css" rel="stylesheet" type="text/css">
<body>
    <%- include('partials/headerNavbar') %>

    <main>
        <div class="container">
            <div class="containerRegistro">
                <h2 class="texto-entrar">ENTRAR</h2>
                <div class="erro-form">
                    <ul></ul>
                </div>
                <form class="formulario-login" method="post" action="/login/loginusuario" id="formulario-login">
                    <input class="email" type="email" id="email" name="email" placeholder="email"><br>
                    <input class="senha" type="password" id="senha" name="senha" placeholder="senha" ><br>
                    <p class="texto-conta">Não tem uma conta?
                        <a href="/cadastro" class="cadastroLink"><b>Cadastre-se</b></a>
                        </p>
                    <button class="botao-login" type="submit"> Entrar</button>
                </form>
            </div>
        </div>
        <%- include('partials/footer') %>
</main>
</body>
<script src="/javascripts/scriptLogin.js"></script>

</html>