<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Painel do Usuário'}) %>
<link href="/css/painel.css" rel="stylesheet" type="text/css">

    <body>
        <%- include('partials/headerNavbar') %>
        <section class="titulo">
            <div>
                <h1> Pedido Finalizado </h1>
                <h3> <a href="/"> Voltar para home </a></h3>
            </div>
        </section>
        
        <%- include('partials/footer') %>
    </body>
</html>