<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Finalizar Compra'}) %>
<link href="/css/footer.css" rel="stylesheet" type="text/css">
    <body>
        <%- include('partials/headerNavbar') %>
        
        <main>
            <section class="titulo">
                <div>
                    <h1> Politica de Devolução </h1>
                    <h3> <a href="/" class="adicionarmais"> Voltar para home</a></h3>
                </div>
                <div class="corpo">
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique a deserunt aut ex illo 
                        expedita at non mollitia dolore vel. Quibusdam consequuntur cupiditate culpa possimus error 
                        voluptas nostrum est non!
                    </p>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus qui enim, eaque laboriosam animi 
                        id tempore magnam, amet quaerat nemo dolorem odio itaque maiores suscipit necessitatibus ipsum mollitia 
                        deleniti numquam.
                    </p>
                    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque quos placeat omnis iure, obcaecati velit, 
                        ea quod officiis numquam, quisquam eius pariatur porro eos veniam ullam saepe expedita doloribus dolorum? 
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam error necessitatibus commodi eaque cum. 
                        Explicabo non culpa quis repudiandae, fugit eaque sed labore doloremque blanditiis voluptatem, reprehenderit 
                        eligendi beatae laboriosam!
                    </p>
                </div>
            </section>
        </main>   
        <%- include('partials/footer') %>
    </body>
</html>
