<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Finalizar Compra'}) %>
<link href="/css/compras.css" rel="stylesheet" type="text/css">
    <body>
        <%- include('partials/headerNavbar') %>
        
        <main>
            <section class="titulo">
                <div>
                    <h1> Quem somos </h1>
                    <h3> <a href="/home" class="adicionarmais"> Voltar para home</a></h3>
                </div>
            </section>
            
        <%- include('partials/footer') %>
    </body>
</html>
