<footer>
    <section id="footerLinks"> 
        <div id="footerInstitucional"> 
            <h3> Institucional: </h3>
            <a href="#" id="">Texto </a>
            <a href="#" id="">Texto </a>
            <a href="#" id="">Texto </a>
        </div>

        <div id="footerAjuda"> 
            <h3> Ajuda: </h3>
            <a href="#" id="">Texto </a>
            <a href="#" id="">Texto </a>
            <a href="#" id="">Texto </a>
        </div>

        <div id="footerMinhaConta"> 
            <h3> Minha Conta: </h3>
            <a href="#" id="">Texto </a>
            <a href="#" id="">Texto </a>
            <a href="#" id="">Texto </a>
        </div>
    </section>

    <div class="footerSocialMedia">
        <a href="https://www.whatsapp.com/?lang=pt_br"> <img src="/images/whatsapp-white.png"/> </a>
        <a href="https://twitter.com/"> <img src="/images/twitter-white.png"/> </a>
        <a href="https://www.instagram.com/"> <img src="/images/instagram_white.png"/> </a>
    </div>

    <p> Dados da empres - CNPJ - Endereço</p>
</footer>