<header>
    <a href="#" id="textoPromocional">Texto promocinal - Frete grátis para todo o Brasil a partir de R$200, 00 em compras</a>
    <nav>
        <div class="headerLogo"> 

            <a href="/">
                <img id="imagemLogo" src="/images/logo_plantinha.png" alt="Logo da Loja">
             </a>
        </div>

        <ul>
            <li><a href="/" class="menuOpcoes">Home</a></li>
            <li><a href="/produtos" class="menuOpcoes">Produtos</a></li>
            <li><a href="/" class="menuOpcoes">Em Progresso</a></li>

        </ul>

        <section>
            <a href="#" class="navIcones"> <img src="/images/lupa _1.png"/> </a>
            <a href="/login" class="navIcones"> <img src="/images/adicionar-usuario.png"/> </a>
            <a href="#" class="navIcones"> <img src="/images/coracao.png"/> </a>
            <a href="/carrinho" class="navIcones"> <img src="/images/carrinho-carrinho.png"/> </a>
        </section>
    </nav>
</header>